.about {
    padding: 50px;
    background-image:url(../gradient-background.jpg);
    background-position: center center; /* Center the image */
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the image */
  }
  
  .about-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .about h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  /* Style links if needed */
  .about a {
    color: #007bff;
    text-decoration: none;
  }
  
  .about a:hover {
    text-decoration: underline;
  }
  